/**************************************************************************************************/
/*                                              Contact                                            /
/**************************************************************************************************/

.mail{
  position:relative;
  background: linear-gradient(184deg, rgba(183,226,253,1) 0%, rgba(21,165,239,1) 100%);
  border-radius: 8px;
  border:1px solid #202830;
  margin:2rem auto;
  width: 70%;
  @media screen and (max-width:768px){
    width:95%;
  }
}
.contactCont{
  width:90%;
  margin:0 auto;
}
#contactTitle{
  text-align: center;
}
.contactH3:first-of-type{
  margin-top: 1rem;
}
.mailForm{
  margin:1rem auto;
  display:flex;
  flex-direction: column;
  width:90%;
}
.inputMail{
  margin-top:1rem;
  font-size:1.2vw;
  @media screen and (max-width:768px){
    font-size: 1rem;
  }
}
.mailBtn{
  border: 1px solid #202830;
  border-radius: 3px;
  background-color: #090D13;
  color:#63F0B0;
  margin:1rem auto;
  display:block;
  padding:0.2rem 0.5rem 0.2rem 0.5rem;
}
.mailBtn:hover{
  background-color: #63F0B0;
  color:#090D13
}
.mailEffect{
  // box-shadow: 2px 2px 3px rgb(58, 58, 58);
  border:1px solid #202830;
  // background-color: #11171F;
  background-color: $blanc;
  // color:#63F0B0;
  color: $noir;
}
.areaEffect{
  resize:none;
}
.wHidden{
  display:none;
}
.sendWindow{
  z-index: 1;
  background-color: red;
  color: white;
  font-size:1.2vw;
  padding: 1vw 2vh;
  transform: translate(-50%,-50%);
}
.absCont{
  position:absolute;
  top: 50%;
  left: 50%;
}
.retour{
  text-align: center;
  margin:2rem 0;
  .retourButton{
    text-decoration: none;
    color: $noir;
    background-color: $bleum;
    border-radius: 8px;
    padding:0.5rem 1rem;
  }
}