.root{
    font-family: 'Segoe UI';
}
// header{
//     position: fixed;
//     background-color: $blanc;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     z-index:2;
// }
.navbar-item{
    z-index:10;
}
@keyframes rotateAnim {
    from {transform: rotateY(0);}
    to {transform: rotateY(360deg);}
}
.navbar-brand>img{
    width:100px;
    animation: rotateAnim 4s linear infinite;
    margin-top: 0.3rem;
}
.navbar-brand{
    margin-left: 2rem;
}
.navbar_image{
    min-width:380px;
    background-image: url(../img/headerasi.jpg);
    min-height:110px;
    background-repeat: no-repeat;
    background-size: cover;

    .nav-link{
        color: $noir;
        font-size: 1.3rem;
        background-color: rgba(255,255,255,0.7);
        padding:0.5rem 1rem 0.5rem 1rem;
    }
    .nav-item:not(:nth-child(n+1):nth-child(n+5)){
        transition: margin 0.2s;
    }
    .nav-item:not(:nth-child(n+1):nth-child(n+5)):hover{
        // background-color:$noir;
        margin:-0.5rem 0 0.5rem 0;
        .nav-link{
            color:$noir;
        }
    }

    .nav-item:nth-child(5){

        .nav-link{

            @media screen and (max-width:768px){
                width:30%;
            }
            background-color: $blanc;
            border-radius: 20px;
            font-size: 1rem;
            margin-top: 0.2rem;
        }

        span{

            margin-left:0.5rem;
        }
    }

    .nav-item:nth-child(6){

        @media screen and (min-width: 768px){
            margin-left:1.5rem;
        }

        .nav-link{

            @media screen and (max-width:768px){
                width:30%;
            }

            background-color: $blanc;
            border-radius: 20px;
            font-size: 1rem;
            margin-top: 0.2rem;
        }

        span{
            margin-left:0.5rem;
        }
    }
}
.navbar-nav{
    @media screen and (min-width:768px) {
        align-items: center;
    }
}
.nav-connex{
    @media screen and (min-width:768px) {
        position:relative;        
    }
}
.nav-mail{
    @media screen and (max-width:768px){
        display:inline-block;
        background-color: $jaune;
        border-radius: 10px;
    }
    @media screen and (min-width:768px) {
        position:absolute;
        background-color: $jaune;
        right:50%;
        transform: translate(50%);        
    }
}