$noir: black;
$blanc: white;
$bleuc:rgb(240, 245, 255);
$grisc: rgb(247, 242, 242);
$gris:#707070;
$bleum: #A5D4F2;
$jaune:  rgb(236, 236, 176);
$bleu: rgb(68, 144, 231);
$grissouris:rgb(210, 209, 209);
$rose:pink;